@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/iCheck")
    @Scripts.Render("~/bundles/sparkline")
    @Scripts.Render("~/bundles/peity")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css/bootstrap")
    @Styles.Render("~/Content/css/mainPage")
</head>
<body class="mainPage">
    <!-- Header -->
    @Html.Partial("_HeaderUser")

    <!-- Navigation -->
    @*@Html.Partial("_Navigation")*@
    <!-- Content Page -->

    @RenderBody()
</body>
</html>
<a href="~/Views/Shared/_LayoutPageUser.cshtml">~/Views/Shared/_LayoutPageUser.cshtml</a>