@{
    Layout = null;
    ViewBag.Title = "Csbabgbang";
}

@model project_CAN.Web.Models.UserLoginView
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/bootstrap")
    @Styles.Render("~/Content/css/login")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body class="loginPage">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
    @Html.AntiForgeryToken()
    <div class="loginContent">
        <h1>Logare</h1>
        <div class="login">
            <p>Login-ul:</p>
            @Html.TextBoxFor(model => model.credential)
            @Html.ValidationMessageFor(model => model.credential, "")
        </div>
        <div class="parola">
            <p>Parola:</p>
            @Html.PasswordFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password, "")
        </div>
        <button type="submit" class="btn btn-secondary btn-lg">Logare</button>
        @Html.ActionLink("Sign Up", "SignUp", "Account")
    </div>
    }
</body>
</html>
