@model project_CAN.Web.Models.UserLogin
@using System.Web.Optimization
@using System.Web.UI.WebControls
@{
    Layout = null;
    ViewBag.Title = "Csbabgbang";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/bootstrap")
    @Styles.Render("~/Content/css/login")
</head>
<body class="loginPage">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "loginContent" }))
    {
        @Html.AntiForgeryToken()
        <h1>Logare</h1>
        <div class="login">
            <p>Login-ul:</p>
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>
        <div class="parola">
            <p>Parola:</p>
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        <button type="submit" class="btn btn-secondary btn-lg">Logare</button>
    }
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
