@using System.Web.Optimization
@model project_CAN.Web.Models.User.UserLoginView
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutBlankPage.cshtml";
}
@Styles.Render("~/Content/css/login")

<body class="loginPage">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="loginContent">
            <h1>Logare</h1>
            <div class="login">
                <p>Login-ul:</p>
                @Html.TextBoxFor(model => model.credential)
                @Html.ValidationMessageFor(model => model.credential)
            </div>
            <div class="parola">
                <p>Parola:</p>
                @Html.PasswordFor(model => model.password)
                @Html.ValidationMessageFor(model => model.password)
            </div>
            <div id="error-div">@ViewBag.Error </div>
            <button type="submit" class="btn btn-secondary btn-lg">Logare</button>
            @Html.ActionLink("Sign Up", "SignUp", "Account")
        </div>
    }
</body>