@using System.Web.Optimization
@model project_CAN.Web.Models.UserRegistrationView
@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_LayoutBlankPage.cshtml";
}
@Styles.Render("~/Content/css/signUp")

<body class="singupPage">
    @using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="singupContent">
            <h1>Inregestrare</h1>
            <div class="login">
                <p>Username:</p>
                @Html.TextBoxFor(model => model.username)
                @Html.ValidationMessageFor(model => model.username, "")
            </div>

            <div class="E-mail">
                <p>E-mail:</p>
                @Html.TextBoxFor(model => model.email, new { @type = "email" })
                @Html.ValidationMessageFor(model => model.email, "")
            </div>

            <div class="parola">
                <p>Parola:</p>
                @Html.PasswordFor(model => model.password)
                @Html.ValidationMessageFor(model => model.password, "")
            </div>

            <div class="parola">
                <p>Repeta parola:</p>
                @Html.PasswordFor(model => model.repeatPassword)
                @Html.ValidationMessageFor(model => model.repeatPassword, "")
            </div>
            <div>@ViewBag.Error</div>
            <button type="submit" class="btn btn-secondary btn-lg">Inregestrare</button>
        </div>
    }
</body>


