@using System.Web.Optimization
@model project_CAN.Web.Models.User.UserRegistrationView
@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_LayoutBlankPage.cshtml";
}
@Styles.Render("~/Content/css/signUp")

<body class="singupPage">
    @using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    <div class="singupContent">
        <h1>Înregistrare</h1>
        <div class="login">
            @Html.TextBoxFor(model => model.username, new { placeholder = "Username" })

        </div>
        @Html.ValidationMessageFor(model => model.username)

        <div class="E-mail">
            @Html.TextBoxFor(model => model.email, new { @type = "email", placeholder = "Email" })
        </div>
            @Html.ValidationMessageFor(model => model.email, "")

        <div class="parola">
            @Html.PasswordFor(model => model.password, new { placeholder = "Parola" })
        </div>
        @Html.ValidationMessageFor(model => model.password)

        <div class="parola">
            @Html.PasswordFor(model => model.repeatPassword, new {placeholder = "Repetă Parola"})
        </div>
        @Html.ValidationMessageFor(model => model.repeatPassword)


        <div id="error-div">@ViewBag.Error</div>
        <button type="submit" class="btn btn-secondary btn-lg">Înregestrare</button>
    </div>
    }
</body>


