@using System.Web.Optimization
@model project_CAN.Web.Models.UserRegistrationView
@{
    Layout = null;
    ViewBag.Title = "Sign Up";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css/bootstrap")
    @Styles.Render("~/Content/css/signUp")
</head>
    @using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <body class="singupPage">
            <div class="singupContent">
                <h1>Inregestrare</h1>
                <div class="login">
                    <p>Username:</p>
                    @Html.TextBoxFor(model => model.username)
                    @Html.ValidationMessageFor(model => model.username, "")
                </div>

                <div class="E-mail">
                    <p>E-mail:</p>
                    @Html.TextBoxFor(model => model.email, new { @type = "email" })
                    @Html.ValidationMessageFor(model => model.email, "")
                </div>

                <div class="parola">
                    <p>Parola:</p>
                    @Html.PasswordFor(model => model.password)
                    @Html.ValidationMessageFor(model => model.password, "")
                </div>

                <div class="parola">
                    <p>Repeta parola:</p>
                    @Html.PasswordFor(model => model.repeatPassword)
                    @Html.ValidationMessageFor(model => model.repeatPassword, "")
                </div>

                <button type="submit" class="btn btn-secondary btn-lg">Inregestrare</button>
            </div>
        </body>
    }
</html>



