@using System.Web.Optimization
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Liked Tutorials";
    Layout = "~/Views/Shared/_LayoutPageUser.cshtml";
}
@Styles.Render("~/Content/css/user/likedTutorials")
<div class="valuedPage">
    <div class="valuedPageContent">

        <!-- <div class="valuedSearchBarr">
            <i class="bi bi-search"></i>
        </div> -->

        <div class="valuedCourseList">
            @{
                if (ViewBag.tutorial.LikesList.Count != 0)
                {
                    foreach (var content in ViewBag.tutorial.LikesList)
                    {
                        <div class="valuedCourseContent">
                            <div class="ValuedCourseImg">
                                @{
                                    var relativePath = Path.Combine(ViewBag.path, content.Image.imageName);
                                    var tutorialContent = content.tutorialContent;
                                }
                                <img src="@Url.Content(relativePath)" />
                            </div>
                            <div class="ValuedCourseTitle">
                                <h2>@tutorialContent.title</h2>
                            </div>
                            <div class="ValuedCourseButtons">
                                <div class="ButtonView">
                                    <button type="button" class="btn btn-secondary btn-lg" onclick="location.href='@Url.Action("WatchTutorial", "Account", new {tutorialId = tutorialContent.tutorialId})'">Deschide</button>
                                </div>
                                <div class="ButtonRemove">
                                    <a href="@Url.Action("LikeAndDislike", "Account", new {tutorialId = tutorialContent.tutorialId})" style="color: black;"><i class="bi bi-heartbreak"></i></a>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>