@using System.Web.Optimization
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Liked Tutorial";
    Layout = "~/Views/Shared/_LayoutPageUser.cshtml";
    var tutorial = ViewBag.tutorial;
    var relativePath = Path.Combine(ViewBag.path, tutorial.Image.imageName);
}
@Styles.Render("~/Content/css/user/watchTutorial")

<div class="course">
    <div class="courseContent">
        <h1>@tutorial.title</h1>
        <img src="@Url.Content(relativePath)" />
        <p>@tutorial.description</p>
        <iframe width="560" height="315" src="@tutorial.Video.videoLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <div class="icon-container">
            <a href="#" class="like-dislike-btn" data-tutorial-id="@tutorial.tutorialId" style="color: black;">
                <i class="bi @(ViewBag.isliked ? "bi-heart-fill" : "bi-heart")"></i>
            </a>
        </div>
    </div>

</div>


<script>
    $(document).ready(function() {
        $('.like-dislike-btn').click(function(e) {
            e.preventDefault(); // Prevent the default link behavior

            var tutorialId = $(this).data('tutorial-id');

            var iconElement = $(this).find('i');

            $.ajax({
                url: '@Url.Action("LikeAndDislike", "Account")',
                type: 'POST',
                data: { tutorialId: tutorialId},
                success: function (response) {
                    if (response) {
                        iconElement.removeClass('bi-heart').addClass('bi-heart-fill');
                    } else {
                        iconElement.removeClass('bi-heart-fill').addClass('bi-heart');
                    }
                }
            });
        });
    });
</script>