@using System.Web.Optimization

@{
    ViewBag.Title = "Control Content";
    Layout = "~/Views/Shared/_LayoutBlankPage.cshtml";
}
@Styles.Render("~/Content/css/admin/content")

<body class="adminPage">

    <div class="barr">
        <div class="inside-bar">
            <a href="@Url.Action("ControlUsers", "Admin")"><i class="bi bi-person-lines-fill"></i></a>
            <a href="@Url.Action("Profile", "Account")"><i class="bi bi-person-circle"></i></a>
        </div>
    </div>

    <div class="CourseBarr">
        <div class="courseSearch">
            <i class="bi bi-search"></i>
        </div>
        @*<i class="bi bi-file-earmark-plus"></i>*@
        <a href="@Url.Action("AddContent", "Admin")" style="color: black;"><i class="bi bi-file-earmark-plus"></i></a>
    </div>

    <div class="courseList">
        @*<div class="adminCourseView">
            <img src="../images/movement.png" />
            <h2>Mișcările de bază în CS:GO 2</h2>
            <div class="editRemoveCourse">
                <div class="edit"><a href="@Url.Action("EditContent", "Admin")" style="color: black;"><i class="bi bi-pencil"></i></a></div>
                <div class="remove"><a href="@Url.Action("RemoveContent", "Admin")" style="color: black;"><i class="bi bi-file-earmark-minus"></i></a></div>
            </div>
        </div>*@

        @foreach (var content in ViewBag.content.TutorialTable)
        {
            <div class="adminCourseView">
                <img src="../images/movement.png" />
                <h2>@content.title</h2>
                <div class="editRemoveCourse">
                    <div class="edit"><a href="@Url.Action("EditContent", "Admin")" style="color: black;"><i class="bi bi-pencil"></i></a></div>
                    <div class="remove"><a href="@Url.Action("RemoveContent", "Admin")" style="color: black;"><i class="bi bi-file-earmark-minus"></i></a></div>
                </div>
            </div>
        }
    </div>


</body>

