@using System.Web.Optimization

@{
    ViewBag.Title = "Add Tutorial";
    Layout = "~/Views/Shared/_LayoutBlankPage.cshtml";
}
@Styles.Render("~/Content/css/moderator/addTutorial")
@model project_CAN.Web.Models.Moderator.TutorialView
<body class="addCourses">
    @using (Html.BeginForm("AddTutorial", "Moderator", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="addCoursesContent">

            <a href="@Url.Action("ControlTutorial", "Moderator")" style="color: black;"><i class="bi bi-arrow-left-square"></i></a>

            <div class="coursesTitle">
                @*<input type="text" placeholder="Titlu">*@
                @Html.TextBoxFor(model => model.title, new { placeholder = "Titlu" })
            </div>
            <div class="coursesText">
                @*<textarea name="text" placeholder="Continutul"></textarea>*@
                @Html.TextAreaFor(model => model.description, new { name = "text", placeholder = "Continutul" })
            </div>
            <div class="coursesVideo">
                @Html.TextBoxFor(model => model.videoLink, new { placeholder = "Linkul Video-ului" })
            </div>

            <div class="coursesImg">
                <label for="uploadFile">Adauga o imagine:</label>
                @Html.TextBoxFor(model => model.image, new { type = "file", id = "uploadFile" })
                <div class="previewImage"></div> <!-- Added a container for preview -->
            </div>

            <button type="submit" class="btn btn-secondary btn-lg">Adauga</button>

        </div>
    }
    <script>
        // Function to preview the uploaded image
        document.getElementById('uploadFile').addEventListener('change', function (event) {
            var preview = document.querySelector('.previewDbImage');
            preview.innerHTML = null; // Clear previous preview

            var file = event.target.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.maxWidth = '100%';
                    img.style.maxHeight = '100%';
                    preview.appendChild(img);
                }
                reader.readAsDataURL(file);
            }
        });
    </script>

</body>
