@using System.Web.Optimization

@{
    ViewBag.Title = "Main Page";
    Layout = "~/Views/Shared/_LayoutPageUser.cshtml";
}

@Styles.Render("~/Content/css/user/loggedIn")
<div class="mainPageContent">
    <!-- logo -->
    <div class="logo">
        <img src="../../images/logoimages.svg" />
    </div>

    <!-- enitialcurs -->
    <div class="esentialCourses">

        <div class="freeCourseBlock">

            <div class="esentialTextBlock">
                <h1>Dezvoltarea Abilităților Individuale de Aiming și Reflexe</h1>
                <p>Elementele esențiale pentru a începe jocul cu succes</p>
            </div>

            <div class="freeCours">
                <div class="freeCourseImg">
                    <img src="../../images/movement.png" />
                </div>
                <div class="freeCourseText">
                    <h2>Tehnici de mișcare</h2>
                    <p>Mișcările de bază în CS:GO 2 sunt esențiale pentru succesul în joc și includ diverse tehnici care îmbunătățesc abilitatea de a evita focurile inamice.</p>
                </div>
                <div class="freeCourseButton">
                    <button type="button" class="btn btn-secondary btn-lg">Deschide</button>
                    <div class="icon-container">
                        <i class="bi bi-heart icon"></i>
                    </div>
                </div>
            </div>

            <div class="freeCours">
                <div class="freeCourseImg">
                    <img src="../../images/aim.png" />
                </div>
                <div class="freeCourseText">
                    <h2>Aiming-ul</h2>
                    <p>Capacitatea de a ținti precis în inamici, fie că este vorba de împușcături la distanță lungă sau lupte în apropiere.</p>
                </div>
                <div class="freeCourseButton">
                    <button type="button" class="btn btn-secondary btn-lg">Deschide</button>
                    <div class="icon-container">
                        <i class="bi bi-heart icon"></i>
                    </div>
                </div>
            </div>

            <div class="freeCours">
                <div class="freeCourseImg">
                    <img src="../../images/shutin.png" />
                </div>
                <div class="freeCourseText">
                    <h2>Spraying pattern</h2>
                    <p>Spraying pattern se referă la modelul specific de recul al armei în timp ce tragi în mod continuu. </p>
                </div>
                <div class="freeCourseButton">
                    <button type="button" class="btn btn-secondary btn-lg">Deschide</button>
                    <div class="icon-container">
                        <i class="bi bi-heart icon"></i>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- usercurs -->
    <div class="userCourse">

        <div class="userCourseContent">

            @foreach (var content in ViewBag.tutorial.TutorialsList)
            {
                <div class="freeCours">
                    @{
                        var relativePath = Path.Combine(ViewBag.path, content.Image.imageName);
                    }
                    <div class="freeCourseImg">
                        <img src="@Url.Content(relativePath)" />
                    </div>
                    <div class="freeCourseText">
                        <h2>@content.title</h2>
                        <p>@content.description</p>
                    </div>
                    <div class="freeCourseButton">
                        <button type="button" class="btn btn-secondary btn-lg" onclick="location.href='@Url.Action("WatchTutorial", "Account", new {tutorialId = content.tutorialId})'">Deschide</button>
                        <div class="icon-container">
                            <a href="#" class="like-dislike-btn" data-tutorial-id="@content.tutorialId" style="color: black;">
                                <i class="bi bi-heart"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
        
            <div class="empty-space"></div>
        </div>



    </div>

</div>

<script>
    $(document).ready(function() {
        $('.like-dislike-btn').click(function(e) {
            e.preventDefault(); // Prevent the default link behavior

            var tutorialId = $(this).data('tutorial-id');
            var like = !$(this).hasClass('liked'); // Toggle between like and dislike based on current state

            var iconElement = $(this).find('i');

            $.ajax({
                url: '@Url.Action("LikeAndDislike", "Account")',
                type: 'POST',
                data: { tutorialId: tutorialId },
                success: function(data) {
                    if (data.success) {
                        // Update UI based on success response
                        if (like) {
                            // User liked the tutorial
                            iconElement.removeClass('bi-heart').addClass('bi-heart-fill');
                            $(this).addClass('liked'); // Add 'liked' class to indicate liked state
                        } else {
                            // User disliked the tutorial
                            iconElement.removeClass('bi-heart-fill').addClass('bi-heart');
                            $(this).removeClass('liked'); // Remove 'liked' class to indicate disliked state
                        }
                    }
                }
            });
        });
    });
</script>